//for color
$primary-color: #fd653c;              // طلایی-ملایم — کنش اصلی

$secondary-color: hsl(222 39% 10%);           // آبی — کنش ثانویه

$secondary-color-box: hsl(224 61% 6% / 0.44); // باکس/کارت (هم‌نقشِ قبلی)


$third-color:hsl(222 77% 76%);
$forth-color:oklch(0.76 0.1 84);

$text-color: hsl(221 100% 99%);
$gray-color: oklch(0.76 0.05 264);
$mute-color:rgba(255, 255, 255, 0.51);

//$glass-color: hsl(222 39% 10%);
$glass-color: hsla(221, 37%, 10%, 0.31);
$glass-border: hsl(222 23% 43% / 0.30);
$glass-highlight: hsl(221 100% 99% / 0.05);

// borders
$highlight: hsl(222 23% 43%);

$border: hsl(222 30% 32%); //border asli

$border-muted: hsl(223 41% 21%); // its better

// alerts
$danger: hsl(9 31% 55%);
$warning:oklch(0.76 0.1 84);
$success: hsl(147 21% 58%);
$info: hsl(217 34% 65%);

$main-background:hsl(231 83% 3%);


//--bg: hsl(224 61% 6%);
//--bg-light: hsl(222 39% 10%);
//
//
//--highlight: hsl(222 23% 43%);

//--border-muted: hsl(223 41% 21%);
//--primary: hsl(222 77% 76%);
//--secondary: hsl(42 52% 60%);
//--danger: hsl(9 31% 65%);
//--warning: hsl(52 22% 56%);
//--success: hsl(147 21% 58%);
//--info: hsl(217 34% 65%);

//for radius
$radius-sm: 12px;
$radius-md: 20px;
$radius-lg: 32px;

// Font Sizes
$fs-hero: 56px;
$fs-section-title: 34px;
$fs-card-title: 20px;
$fs-base: 16px;
$fs-small: 14px;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Layout
$container-max: 1346px;   // هم‌اندازه‌ی هدرت

// Breakpoints (desktop-first → max-width)
$bp-lg: 1280px;
$bp-md: 992px;
$bp-sm: 768px;
$bp-xs: 480px;
