@use '../variables' as *;
@use '../mixins' as *;

.container-project {
  height: max-content;
  width: 80%;
  border: 1px solid $border-muted;
  border-radius: $radius-lg;
  margin: 35px auto;

  .project-info {
    display: grid;

    /* راست | وسط | چپ */
    grid-template-columns: 160px 2fr auto;

    grid-template-areas: "avatar details actions";
    gap: 10px;

    direction: rtl;
    padding: 20px;
    margin: 10px 40px;

    .project-avatar {
      grid-area: avatar;

      width: 150px;
      height: 150px;

      display: flex;
      justify-content: center;
      align-items: center;

      background: $glass-color;
      border-radius: $radius-sm;

      i {
        color: $third-color;
        font-size: $fs-hero;
        font-weight: $fw-bold;
      }
    }

    .project-details {
      grid-area: details;
      justify-self: start;
      text-align: right;

      .project-title {
        font-size: $fs-section-title;
        color: $text-color;
        margin: 10px 0;
        font-weight: $fw-medium;
      }

      .project-owner {
        display: flex;
        flex-direction: column;

        .owner-name {
          font-size: $fs-base;


          i {
            margin-left: 5px;
            color: $third-color;
            font-size: $fs-small;
          }
        }
      }

      @include bookmark();

      .project-bookmark {
        margin-top: 10px;
        transform: translatex(10px);
      }


    }

    .project-actions {
      grid-area: actions;
      align-self: center;
      justify-self: center;



      button {
        @include animated-button($primary-color, $text-color, 200px, 70px);
        margin: 5px;
      }

      .project-submit-btn {

        padding: 20px 40px;
        border-radius: $radius-md;
        background-color: $primary-color;
        border: none;
        font-size: $fs-card-title;


      }

      .daysAgo {
        align-self:center;
        justify-self: center;
        margin-top: 20px;
        text-align: center;
        font-size: $fs-small;
        color: $mute-color;
      }
    }
  }

  .project-about {
    font-size: $fs-base;
    margin: 20px 60px;
    line-height: 35px;
    height: max-content;

  }

  .project-skills {
    margin: 20px 40px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;


    .title-project-skills {
      display: flex;
      align-items: center;
      white-space: nowrap;

      .ping {
        @include ping();
      }


      h3 {
        font-size: $fs-base;
        color: $text-color;
      }
    }

    .card-project-skills {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-right: 20px;
      height: max-content;
      align-self: center;


      p {
        margin-top: 10px;
        margin-bottom: 5px;
        //background-color: $success;
        border: 1.5px solid $forth-color;
        font-size: 11px;
        color: $warning;
        border-radius: $radius-sm;
        padding: 5px 10px;
        white-space: nowrap;
        width: max-content;
      }
    }
  }

  .project-box {
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .box {

      transition: 0.3s;
      background-color: $secondary-color-box;
      border: 1px solid $border-muted;
      border-radius: $radius-md;
      cursor: pointer;
      display: flex;

      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 320px;
      height: 125px;

      h3 {
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 1px solid $highlight;
        width: 250px;
        padding-bottom: 10px;
        font-size: $fs-card-title;
        font-weight: $fw-medium;
      }

      p {
        margin: 10px 0;
        font-size: $fs-base;

      }
    }
  }

  .project-categories {
    margin: 20px 40px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;

    .title-project-categories {
      display: flex;
      align-items: center;
      white-space: nowrap;

      .ping {
        @include ping();
      }


      h3 {
        font-size: $fs-base;
        color: $text-color;
      }
    }

    .card-project-categories {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-right: 20px;
      height: max-content;
      align-self: center;

      p {
        margin-top: 10px;
        margin-bottom: 5px;
        //background-color: $success;
        border: 1.5px solid $forth-color;
        font-size: 11px;
        color: $warning;
        border-radius: $radius-sm;
        padding: 5px 10px;
        white-space: nowrap;
        width: max-content;
      }
    }
  }
}
