
<footer>
    <div class="footer-container">
        <div class="footer-about">
            <a href="index.html" class="logo">
            <img src="assets/images/logo.png" alt="لوگو">
            <h3 class="text-logo">کارلینو</h3>
        </a>
            <p>
                پلتفرمی برای همکاری، رشد و ساخت پروژه‌های واقعی.
            </p>
            <div class="card">
                
                <a class="socialContainer containerOne" href="#">
                    <i class="fa-brands fa-instagram socialSvg"></i>
                </a>
                
                <a class="socialContainer containerTwo" href="#">
                    <i class="fa-brands fa-x-twitter socialSvg"></i>
                </a>
                
                <a class="socialContainer containerThree" href="#">
                    <i class="fa-brands fa-linkedin-in socialSvg"></i>
                </a>
                
                <a class="socialContainer containerFour" href="#">
                    <i class="fa-brands fa-whatsapp socialSvg"></i>
                </a>
            
            </div>
        
        </div>
        
        <div class="footer-links">
            <h3>دسترسی سریع</h3>
            <a href="index.html">خانه</a>
            <a href="projects.html">پروژه ها</a>
            <a href="categories.html">دسته بندی ها</a>
        </div>
        
        <div class="footer-account">
            <h3>حساب کاربری</h3>
            <a href="#">پروفایل</a>
            <a href="#">ذخیره شده ها</a>
        </div>
        <div class="footer-contact">
            
            <h3>ارتباط با ما</h3>
            
            <div class="contact-item">
                
                <i class="fa-solid fa-envelope"></i>
                
                <span>
            support@karlino.com
        </span>
            
            </div>
            
            
            <div class="contact-item">
                
                <i class="fa-solid fa-phone"></i>
                
                <span>
            +98 913 345 6789
        </span>
            
            </div>
            
            
            <div class="contact-item">
                
                <i class="fa-solid fa-location-dot"></i>
                
                <span>
            اصفهان، ایران
        </span>
            
            </div>
        
        </div>
    </div>
    
    <div class="footer-bottom">
        
        <p>
            © 2026 Karlino. All rights reserved.
        </p>
    
    </div>

</footer>
