
<header>
    
    <div class="right">
        
        <div class="logo">
            <img src="assets/images/logo.png" alt="لوگو">
            
            <h3 class="text-logo">کارلینو</h3>
        </div>
    
    </div>
    
    <nav class="navbar">
        
        <ul>
            
            <li>
                <a href="#">پیدا کردن پروژه</a>
            </li>
            
            <li>
                
                <a href="#">
                    دسته‌بندی‌ها
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                
                <ul class="dropdown">
                    
                    <li>
                        <a href="#">طراحی UI/UX</a>
                    </li>
                    
                    <li>
                        <a href="#">طراحی سایت</a>
                    </li>
                    
                    <li>
                        <a href="#">فرانت‌اند</a>
                    </li>
                
                </ul>
            
            </li>
            
            <li>
                <a href="#">درباره ما</a>
            </li>
        
        </ul>
    
    </nav>
    
    <div class="left">
        <div class="guest-header">
            <a href="auth/login.html" class="login">ورود</a>
            <a href="auth/register.html">
                <button class="sign-up">
                    ثبت‌نام
                </button>
            </a>
        </div>
        <div class="user-header">
            <button class="notif-btn">
                <i class="fa-regular fa-bell"></i>
            </button>
            
            <label class="popup">
                
                <input type="checkbox">
                
                <!-- profile button -->
                <div tabindex="0" class="burger">
                    <i class="fa-solid fa-user" id="bell"></i>
                </div>
                
                <!-- menu -->
                <nav class="popup-window">
                    
                    <div class="popup-header">
                        <h3>حساب کاربری</h3>
                        <p>مدیریت حساب و پروژه‌ها</p>
                    </div>
                    
                    <ul>
                        <!--profile-->
                        <li>
                            <button>
                                <i class="fa-regular fa-user"></i>
                                <span>پروفایل من</span>
                            </button>
                        </li>
                        <!--project-->
                        <li>
                            <button>
                                <i class="fa-solid fa-briefcase"></i>
                                <span>پروژه‌های من</span>
                            </button>
                        </li>
                        
                        <!--like-->
                        <li>
                            <button>
                                <i class="fa-regular fa-heart"></i>
                                <span>علاقه‌مندی‌ها</span>
                            </button>
                        </li>
                        
                        <!--log out-->
                        <li>
                            <button class="logout">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <span>خروج از حساب</span>
                            </button>
                        </li>
                    
                    </ul>
                
                </nav>
            
            </label>
        </div>
    
    </div>

</header>
