@use '../variables' as *;
@use '../mixins' as *;

#header-placeholder {
  @include flex();

  position: sticky;

  top: 10px;
  z-index: 999;

  width: 100%;

  header {
    width: 100%;
    max-width: 1346px;

    padding: 14px 24px;

    background: $secondary-color;
    border-radius: $radius-lg;
    border: 1px solid $border-muted;

    @include flex(space-between, center);

    .right {

      .logo {
        @include flex();

        gap: 10px;

        img {
          width: 45px;
          height: 45px;
          object-fit: contain;
        }

        .text-logo {
          font-size: 24px;
          font-weight: $fw-bold;
          color: $primary-color;
        }
      }
    }

    .navbar {
      ul {
        @include flex(row, 25px);

        gap: 25px;

        list-style: none;

        li {
          position: relative;
          @include flex(row);
          gap:25px ;

          a {
            @include flex();

            position: relative;

            gap: 6px;

            color: $text-color;

            font-size: $fs-base;

            font-weight: $fw-medium;

            transition: 0.3s;

            @include hover-underline();

            i {
              font-size: 12px;
              transition: transform 0.3s;
            }

          }

          .dropdown {
            position: absolute;
            top: calc(100% + 35px);
            right: -250px;


            display: grid;
            grid-template-columns: repeat(3, 1fr);

            gap: 4px;

            min-width: 340px;
            padding: 10px;

            background: $secondary-color;
            border-radius: $radius-md;

            box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
            border: 1px solid $highlight;


            // مخفی + انیمیشن
            opacity: 0;
            visibility: hidden;
            transform: translateY(8px);
            transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s;
            z-index: 100;

            // فلش کوچک بالای منو
            &::before {
              content: "";
              position: absolute;
              top: -6px;
              right: 24px;
              width: 12px;
              height: 12px;
              background: $secondary-color;
              border-top: 1px solid rgba(0, 0, 0, 0.05);
              border-left: 1px solid rgba(0, 0, 0, 0.05);
              transform: rotate(45deg);
            }

            li {
              width: 100%;

              a {
                display: flex;
                align-items: center;
                gap: 10px;

                padding: 10px 12px;
                border-radius: $radius-sm;

                font-size: $fs-small;
                color: $text-color;

                white-space: nowrap;
                transition: background 0.2s, color 0.2s;

                &::after {
                  display: none;
                }

                i {
                  font-size:$fs-small;
                  color: $primary-color;
                  width: 18px;
                  text-align: center;
                }

                &:hover {
                  background: $glass-color;
                  color: $primary-color;
                }
              }
            }
          }

          // نمایش هنگام hover
          &:hover .dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }

          // چرخش فلش هنگام باز شدن
          &:hover > a i {
            transform: rotate(720deg);
          }
        }
      }
    }

    .left {
      .guest-header {
        @include flex();

        gap: 15px;

        .sign-up {
          padding: 10px 22px;

          border: none;
          border-radius: $radius-md;

          background: $primary-color;

          color: $text-color;

          font-size:$fs-small;
          font-weight: $fw-bold;

          cursor: pointer;

          transition: 0.3s;

          &:hover {
            transform: translateY(-2px);
          }
        }

        .login {
          color: $third-color;

          font-size: 15px;
          font-weight: $fw-medium;

          cursor: pointer;

          transition: 0.3s;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .user-header {
        //after login & regester
        @include flex();

        gap: 15px;

        .popup {

          position: relative;
          display: inline-block;

          input {
            display: none;
          }

          .burger {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: $primary-color;

            @include flex();

            cursor: pointer;
            transition: 0.25s ease;

            i {
              color: $text-color;
              font-size: $fs-card-title;
            }

            &:hover {
              transform: scale(1.08);
            }

            &:active {
              transform: scale(0.95);
            }
          }

          .popup-window {
            position: absolute;
            top: 70px;
            left: 0;

            width: 260px;

            background: $secondary-color;
            border: 1px solid $border;
            border-radius: $radius-md;

            padding: 12px;

            box-shadow: var(--popup-shadow);

            opacity: 0;
            visibility: hidden;
            transform: scale(0.85);

            transition: 0.25s ease;
            transform-origin: top left;

            .popup-header {
              padding: 10px 12px 15px;
              border-bottom: 1px solid $highlight;
              margin-bottom: 10px;

              h3 {
                font-size: $fs-base;
                color: $text-color;
                margin-bottom: 4px;
              }

              p {
                font-size: 13px;
                color: $gray-color;
              }
            }

            ul {
              list-style: none;

              li {
                margin-bottom: 6px;

                &:last-child {
                  margin-bottom: 0;
                }

                button {
                  width: 100%;
                  border: none;
                  background: transparent;

                  display: flex;
                  align-items: center;
                  gap: 12px;

                  padding: 13px 14px;
                  border-radius: $radius-sm;

                  cursor: pointer;

                  font-size: $fs-small;
                  color: $text-color;

                  transition: 0.2s ease;

                  i {
                    width: 18px;
                    font-size: $fs-small;
                  }

                  &:hover {
                    background: $info;
                    color: $text-color;
                  }
                }

                .logout {
                  color: red;

                  &:hover {
                    background:$danger;
                    color: $text-color;
                  }
                }
              }
            }
          }

          input:checked ~ .popup-window {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }
        }

        .notif-btn {
          width: 45px;
          height: 45px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $secondary-color-box;
          border-radius: 50%;
          cursor: pointer;
          transition-duration: .3s;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
          border: none;

          i {
            color: $text-color;
            font-size: $fs-card-title;
          }

          &:hover {
            background-color:$warning;

            i {
              animation: bellRing 0.9s both;
            }
          }

          &:active {
            transform: scale(0.8);
          }
        }

        @include bell-ring;
      }


    }
  }
}
